@page "/"
@inject HttpClient Http

<PageTitle>DCS Web Parser BETA</PageTitle>

<script src="scripts/download.js"></script>
<script src="scripts/T2unicMTD.js"></script>
<script src="~/resources/T2unicMTD.mtdef"></script>
<h3>DCS Web Parser BETA Version</h3>

@if (_errorMessage != String.Empty)
{
	<Callout Type="CalloutType.Danger" Heading="Error">
		<strong>Error parsing file: </strong>@_errorMessage.
	</Callout>
}

<div class="row mb-1">
	<label class="col-md-3 col-form-label">Select the DCS Log File:
        <InputFile id="browseFile" OnChange="OnFileSelectionChange"></InputFile>
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">File Name:
		<input id="txtFilename" type="text" @bind="txtFilename" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Begin Time:
		<TimeInput TValue="TimeOnly" @bind-Value="@_beginTime" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">End Time:
		<TimeInput TValue="TimeOnly" @bind-Value="@_endTime" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Line Numbers:
		<Switch Class="mt-3" @bind-Value="chkLineNumbers" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Timestamps as 24 Hours:
        <Switch Class="mt-2" @bind-Value="chk24Hours" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Raw Data:
        <Switch Class="mt-2" @bind-Value="chkShowRawData" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show System Messages:
        <Switch Class="mt-2" @bind-Value="chkShowSystemMessages" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show TIMs:
        <Switch Class="mt-2" @bind-Value="chkTIM" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show TICOs:
        <Switch Class="mt-2" @bind-Value="chkTICO" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show APSs:
        <Switch Class="mt-2" @bind-Value="chkAPS" />
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Output File Type:
        <select id="cboOutputFile" @bind="cboOutputFile">
            <option selected>HTML</option>
            <option>Text</option>
        </select>
	</label>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Dark Mode:
        <Switch Class="mt-2" @bind-Value="chkDarkMode" />
	</label>
</div>
<div class="row">
	<div class="col-md-1 text-right">
		<Button Type="ButtonType.Button" Color="ButtonColor.Primary" Class="float-end me-2" @onclick="OnParseClick">Parse</Button>
	</div>
</div>
