@page "/"
@inject HttpClient Http

<PageTitle>DCS Web Parser BETA</PageTitle>

<script src="scripts/download.js"></script>
<h3>DCS Web Parser BETA Version</h3>

<h3>@_errorMessage</h3>

<div class="row mb-1">
	<label class="col-md-3 col-form-label">Select the DCS Log File: </label>
	<div class="col-md-3">
		<InputFile id="browseFile" OnChange="OnFileSelectionChange"></InputFile>
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">File Name: </label>
	<div class="col-md-3">
		<input id="txtFilename" type="text" @bind="txtFilename" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Begin Time: </label>
	<div class="col-md-3">
		<TimeInput TValue="TimeOnly" @bind-Value="@_beginTime" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">End Time: </label>
	<div class="col-md-3">
		<TimeInput TValue="TimeOnly" @bind-Value="@_endTime" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Line Numbers: </label>
	<div class="col-md-4">
		<Switch Class="mt-3" @bind-Value="chkLineNumbers" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Timestamps as 24 Hours: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chk24Hours" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show Raw Data: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkShowRawData" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show System Messages: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkShowSystemMessages" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show TIMs: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkTIM" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show TICOs: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkTICO" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Show APSs: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkAPS" />
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Output File Type: </label>
	<div class="col-md-3">
		<select id="cboOutputFile" @bind="cboOutputFile">
			<option selected>HTML</option>
			<option>Text</option>
		</select>
	</div>
</div>
<div class="row mb-1">
	<label class="col-md-3 col-form-label">Dark Mode: </label>
	<div class="col-md-3">
		<Switch Class="mt-2" @bind-Value="chkDarkMode" />
	</div>
</div>
<div class="row">
	<div class="col-md-1 text-right">
		<Button Type="ButtonType.Button" Color="ButtonColor.Primary" Class="float-end me-2" @onclick="OnParseClick">Parse</Button>
	</div>
</div>
@* <div class="container">
	<div class="container">
		<strong>
			@_statusMessage
		</strong>
	</div>
	<div class="percentage">
		<strong>
			<p>Percentage: @_percentageUploaded %</p>
		</strong>
	</div>
	<label>
		Uploading document: <progress value="70" max="100">70 %</progress>
	</label>
	<label for="progress-bar">Uploading Document</label>
	<progress id="progress-bar" value="70" max="100">70 %</progress>
</div> *@