<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DCSWebParserBeta</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
	<nav class="flex-column">
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="" Match="NavLinkMatch.All">
				<span class="bi bi-file-earmark-break-fill-nav-menu" aria-hidden="true"></span> Parse
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="report" Match="NavLinkMatch.All">
				<span class="bi bi-file-earmark-bar-graph-fill-nav-menu" aria-hidden="true"></span> Report
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="features" Match="NavLinkMatch.All">
				<span class="bi bi-list-check-nav-menu" aria-hidden="true"></span> Features
			</NavLink>
		</div>
		<div class="nav-item px-3">
			<NavLink class="nav-link" href="mtdef">
				<span class="bi bi-filetype-xml-nav-menu" aria-hidden="true"></span> T2unicMTD.mtdef
			</NavLink>
		</div>
	</nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
